.container {
    color: white;
    margin: 30px 0 0;
    background: #452543;
    padding: 30px 0;

}

.container_title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 14px;
    text-align: center;
}

.container_content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    font-size: 25px;
    font-weight: bold;
}

.container_content ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
}

.container svg {
    font-size: 30px;
}

.container img {
    width: 600px;
}


.container h1 {
    text-transform: uppercase;
    margin-bottom: 30px;
}

.container_title::after, 
.container_title::before 
{
    content: "";
    display: block;
    width: 200px;
    height: 3px;
    background: white;

}

@media screen and (max-width: 768px) {
    .container img {
        width: 350px;
    }
}
