.container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 30px 15px;
}

.text_container {
    width: 350px;
}

.text_container ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    color: white;
}

.text_container li {
    background-color: #452543;
    padding: 10px;
}

.text_container h1 {
    font-size: 23px;
    margin-bottom: 20px;
    text-transform: uppercase;
}