.carousel {
  width: 100%;
  padding: 20px;
  margin-bottom: 30px;
}

.img_container {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}

.img_container img {
  width: 400px;
}
