@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, rgba(117, 0, 171, 0.8), rgba(76, 0, 127, 0.8)), 
    url('https://www.transparenttextures.com/patterns/diagmonds.png');
    background-size: cover, auto;
    font-family: "ABeeZee", sans-serif;
}

